.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h1 {
    font-weight: 800;
  }
}

.content-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 130vh;

  .content-page-content {
    width: 55vw;
    margin: 0 auto;
  }

  p {
    margin-bottom: 2rem;
  }
}
