.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h1 {
    font-weight: 800;
  }
}

.content-page-content {
  width: 55vw;
  margin: 0 auto;
  min-height: 130vh;
}

p {
  margin-bottom: 2rem;
}

@media screen and (max-width: 1536px) {
  .content-page-content {
    width: 75vw;
  }
}
@media screen and (max-width: 1024px) {
  .content-page-content {
    width: 90vw;
  }
}
