.header {
  width: 100vw;
  background-color: #448ccb;
  margin-bottom: 4rem;
}

.header-left-side {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.header-content-container {
  display: flex;
  flex-direction: row;
  width: 55vw;
  margin: 0 auto;
  height: 9vw;
  min-height: 60px;
  color: white;

  .header-menu-text-items {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 10px auto 10px 0px;
    flex-direction: row;

    .header-item {
      padding: 5px;
      font-size: 12px;
      font-weight: 50;
      border-right: 1.5px solid white;
      &:first-child {
        padding-left: 1px;
      }
      &:last-child {
        border: none;
      }
    }
  }

  .header-demosite-text {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    margin: 10px auto 10px 0px;

    h1 {
      cursor: pointer;
      font-size: 32px;
      font-weight: 800;
    }
    span {
      font-weight: 300;
    }
  }
  .header-nav-container {
    width: 50%;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1536px) {
  .header-content-container {
    width: 75vw;
    .header-menu-text-items {
      display: none;
    }
    .header-left-side {
      flex-direction: row;
    }
  }
}
@media screen and (max-width: 1536px) {
  .header-content-container {
    width: 75vw;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 16px;
  }
  .header-content-container {
    width: 90vw;
  }
  .nav-burger-container {
    display: flex;
    z-index: 200;
    margin-left: auto;
  }
  .header-nav-container {
  }
}
// @media screen and (max-width: 1024px) {
//   .header-content-container {
//     display: flex;

//     position: relative;
//     width: 90vw;
//     max-width: 500px;
//     .header-menu-text-items {
//       display: none;
//     }
//     .header-nav-container {
//       display: none;
//     }
//   }
// }
